version: "3.9"

services:
  backend:
    build: .
    container_name: car-rental-backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - car_rental_network

  mongo:
    image: mongo:6
    container_name: car-rental-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - car_rental_network

networks:
  car_rental_network:

volumes:
  mongo_data:
